version: '3.9'
services:
  jekyll:
    build: .
    container_name: jekyll-site
    ports:
      - "4000:4000"
    volumes:      
      - .:/home/remoteUser/workspace      
    environment:
      - TZ=America/Monterrey      
    stdin_open: true
    tty: true
    working_dir: /home/remoteUser/workspace

